.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabecalho-mobile);
    padding: .5rem 1rem;
    box-shadow: var(--sombras);
}
.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: 24px;
}